.banner * {
    transition: 1s linear;
    
}

/* banner */
.banner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 150vh;
    width: 100vw;
    transition: 0.5s linear;

}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: 1s;
    animation: moveBack 4s alternate ease-in-out infinite, fadeBack 4s;
}

.banner h1 {
    width: 100%;
}

.banner h6 {
    color: var(--text);
}

.banner h6:first-child:hover {
    word-spacing: 0.5vw;
    scale: 1.5;
    text-shadow: -3px -1px 10px var(--secondary),
        -3px 8px 25px rgba(255, 255, 255, 1);
    transition: 2s ease-in-out;

}

.banner h6.eng:hover {
    margin: 0 0 0 5vw;
}

.banner h6.per:hover {
    margin: 0 5vw 0 0;
}

.blur-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    opacity: 0.5;
}

.banner .text-container {
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.5%;
    margin: 15% 0 0 0;
    z-index: 3;
    color: var(--primary);
}

.banner article {
    position: absolute;
    width: 35%;
    height: 75vh;
    top: 10%;
    z-index: 3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5vw;
    gap: 0.5vw;
}

.banner article.eng {
    right: 5vw;

}

.banner article.per {
    left: 5vw;
}

.banner article div {
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    background-size: 80vh;
    z-index: 3;
    width: 15vw;
}



.banner article div:nth-child(1) {
    background-position: -4vw center;
    height: 70%;
    animation: changable1 5s;

}

.banner article div:nth-child(2) {
    background-position: -9vw center;

    height: 80%;
    animation: changable2 5s;
}

.banner article div:nth-child(3) {
    background-position: -14vw center;

    height: 90%;
    animation: changable3 5s;

}

.banner article div:nth-child(4) {
    background-position: -19vw center;
    height: 70%;
    animation: changable4 5s;
}

.banner article div:nth-child(5) {
    background-position: -24vw center;

    height: 60%;
    animation: changable5 5s;
}

.banner article div:nth-child(6) {
    background-position: -30vw center;
    height: 65%;
    animation: changable6 5s;
}

.banner article div:nth-child(1).caseA {
    height: 50%;

}

.banner article div:nth-child(2).caseA {
    height: 60%;
}
.banner article div:nth-child(3).caseA {
    height: 70%;
}

.banner article div:nth-child(4).caseA {
    height: 80%;
}

.banner article div:nth-child(5).caseA {
    height: 70%;
}

.banner article div:nth-child(6).caseA {
    height: 90%;
}

.banner article div:nth-child(1).caseB {
    height: 80%;
}

.banner article div:nth-child(2).caseB {
    height: 90%;
}

.banner article div:nth-child(3).caseB {
    height: 70%;
}

.banner article div:nth-child(4).caseB {
    height: 60%;
}

.banner article div:nth-child(5).caseB {
    height: 90%;
}

.banner article div:nth-child(6).caseB {
    height: 80%;
}
